{
    cache
    metrics
}

# SSL will be served up with Fly not by Caddy
:8080 {
    cache
    log
    root * /var/www/html
    respond /status "ok"

    metrics /metrics

    encode zstd gzip
    file_server
}


