# See https://fly.io/docs/app-guides/continuous-deployment-with-github-actions/

name: Build & Deploy
permissions:
  contents: read
  packages: write
  attestations: write
  id-token: write
on:
  push:
    branches:
      - main
jobs:
  deploy:
    name: Deploy app
    runs-on: ubuntu-latest
    concurrency: deploy-group # optional: ensure only one action runs at a time
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          submodules: true
      - uses: superfly/flyctl-actions/setup-flyctl@master
      - run: flyctl deploy --remote-only --build-secret MT_KEY=${{ secrets.MT_KEY }} --dockerfile fly.Dockerfile
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
