name: Docker

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
permissions:
  contents: read
  packages: write
  attestations: write
  id-token: write

on:
  push:
    branches: ["main"]
  pull_request:
  merge_group:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3
      - name: build
        uses: docker/build-push-action@601a80b39c9405e50806ae38af30926f9d957c47 # v6
        with:
          context: .
          push: false
          build-args: |
            MT_KEY=${{ secrets.MT_KEY }}
            VEHICLES_URL=https://imt.ryanwallace.cloud
            MBTA_API_BASE=
            TRACK_PREDICTION_API=https://imt.ryanwallace.cloud
            BOS_URL=https://bos.ryanwallace.cloud
